version: '2.4'
services:
    etcd:
        image: docker.io/bitnami/etcd:3.5.1
        logging:
        options:
            max-file: 3
            max-size: 10m
        environment:
        - ALLOW_NONE_AUTHENTICATION=yes
        - ETCDCTL_API=3
        ports:
        - 12379:2379
        - 12380:2380
        volumes:
        - ./etcd/data:/bitnami/etcd
    
    watcher:
        build: ./
        depends_on:
            - etcd
        logging:
            options:
                max-file: 3
                max-size: 10m
        networks:
            local:
                aliases:
                - "etcd.local"
        environment:
            {{ app_name | upper }}_WATCHER_WATCH_ETCD_KEY: "/test"
            {{ app_name | upper }}_WATCHER_WATCH_ETCD_URL: "etcd://etcd:2379"
            {{ app_name | upper }}_WATCHER_WATCH_ETCD_PREFIX: "true"
            {{ app_name | upper }}_WATCHER_LOG_LEVEL: "INFO"
        command: ["{{ app_name }}_watcher.pyz"]

    sender:
        build: ./
        depends_on:
            - watcher
        logging:
            options:
                max-file: 3
                max-size: 10m
        networks:
            local:
                aliases:
                - "etcd.local"
        environment:
            {{ app_name | upper }}_SENDER_SEND_ETCD_URL: "etcd://etcd:2379"
            {{ app_name | upper }}_SENDER_LOG_LEVEL: "INFO"
        command: ["{{ app_name }}_sender.pyz"]

networks:
    local:
        driver: bridge